h3 {
    font-style: normal!important;
    font-weight: 800!important;
 }

 ol,ul {
    -webkit-padding-start: 5%!important;
    -webkit-padding-end: 0%!important;
 }

 ul{
   width:90%;
 }

 ol{
   width: 50%;
 }

 figure.fullwidth figcaption {
    float: left!important;
    max-width: 90%!important;
 }

 body {
    background: white!important;
 }

 #blueprompt {
   background-color: blueviolet;
 }

 figure.fullwidth figcaption{
   padding-bottom: 20px;
 }

 .subtitle{
   font-size: 2rem;
   font-style:normal;
  }

.content-title{
  max-width: 670px;
}

 pre {
   width:1000%;
   background-color:#272822;
 }

 /*
 .sidenote, .marginnote {
    margin-right: 12%;
    width: 28%;
}
*/

#main {
  position: relative; /* Ensure that the title is positioned relative to this container */
  width: 100%; /* Set the width to 100% */
  background-image: url('./f1.png'); /* Replace with your image path */
  background-position: top left; /* Position the background image to the top left */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: 100% auto; /* Set the width of the background image to 100% and height to auto */
}

.blog-title {
  position: absolute; /* Position the title above the background */
  top: 0; /* Start from the top */
  left: 0; /* Start from the left */
  z-index: 1; /* Place the title above the background image */
}
