h3 {
    font-style: normal!important;
    font-weight: 800!important;
 }

 ol {
    -webkit-padding-start: 5%!important;
    -webkit-padding-end: 0%!important;
 }


 figure.fullwidth figcaption {
    float: left!important;
    max-width: 90%!important;
 }

 body {
    background: white!important;
 }
 /*
 .sidenote, .marginnote {
    margin-right: 12%;
    width: 28%;
}
*/